@import "../../../helpers/mixins.styl"

$bl = 'feat-2'

.{$bl}
  float left
  width 100%

  &__image
    float left
    width 55%
    left .5em
    position relative
    top .2em

  &__post-image
    width 100%
  
  &__feat-2-text-2-gap
    width 24em
    float left
    margin-top 5.62em