@import "../../../helpers/mixins.styl";

$bl = "regular-button"

.{$bl}
  background-color #333
  color #fff
  text-transform uppercase
  font-family 'DIN Pro Condensed', Arial, sans-serif;
  font-weight 500
  outline none
  border none
  padding: 15px 30px;
  letter-spacing: 1px;
  cursor pointer