@import "../../../helpers/mixins.styl";

$bl = 'notes'

.{$bl}
  
  &__title
    text-transform uppercase
    font-family $font-din-pro-cond
    font-size .85em
    font-weight 600
    margin-left 2.8em
    letter-spacing .04em

  &__notes-note-gap
    width 30em
    height 1.9em
    margin-left 2.45em
    margin-top .85em