@import "../../../helpers/mixins.styl"

$bl = 'text-2'

.{$bl}
  display inherit

  &__title-1
    font-size 1em
    font-family $font-din-pro-cond
    font-weight 600
    text-transform uppercase
    letter-spacing .02em
    position relative
    top .9em
    color #666666

  &__title-2
    font-size 1.45em
    font-family $font-din-pro-cond
    font-weight 600
    text-transform uppercase
    margin-bottom .1em
    letter-spacing .026em
    position relative
    top .7em
 
  &__story
    font-size 0.85em
    font-family $font-roboto
    font-weight 300
    color #666666
    margin-bottom .8em
    letter-spacing .025em
    position relative
    top 1.2em
    width 25.5em
    line-height 1.92em
  
  &__text-2-benefits-gap
    margin-top 3.3em