include /blocks/logo/logo
include /blocks/icon/icon

mixin Footer(obj)
  if !obj
    - obj = {}
  +b.FOOTER.footer(class=obj.class || {})
    +e.centerer
      +e.row
        +e.logo
          +Logo
        +e.sitemap
          +e.sitemap-cell
            +e.sitemap-item
              +e.A.sitemap-link(href='#') Footwear
            +e.sitemap-item
              +e.A.sitemap-link(href='#') Clothing
            +e.sitemap-item
              +e.A.sitemap-link(href='#') Accessories
            +e.sitemap-item
              +e.A.sitemap-link(href='#') Brands
            +e.sitemap-item
              +e.A.sitemap-link(href='#') Clearance
          +e.sitemap-cell
            +e.sitemap-item
              +e.A.sitemap-link(href='#') About
            +e.sitemap-item
              +e.A.sitemap-link(href='#') Contact us
            +e.sitemap-item
              +e.A.sitemap-link(href='#') Support
            +e.sitemap-item
              +e.A.sitemap-link(href='#') Store locator
            +e.sitemap-item
              +e.A.sitemap-link(href='#') Press room
          +e.sitemap-cell
            +e.sitemap-item
              +e.A.sitemap-link(href='#') Website terms
            +e.sitemap-item
              +e.A.sitemap-link(href='#') Select country
            +e.sitemap-item
              +e.A.sitemap-link(href='#') Source code
        +e.share
          +e.share-items.ya-share2(data-services="vkontakte,facebook,odnoklassniki,gplus,twitter")
          +e.share-title Share this page
      +e.row
        +e.copyright Copyright © 2015 Bree Orthonormai. All rights reserved.
    script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
    script(src="//yastatic.net/share2/share.js")
