@import "../../../helpers/mixins.styl";

$bl = 'product-story'

.{$bl}
  min-height 660px
  outline 1px dotted #0089cf
  background-color #f5f5f5

  &__centerer
    centerer(16.5%, 16.5%)
  
  &__column-1
    display inline-block
    width 30%
  
  &__column-2
    display inline-block
    width 27.2%
    height 34em
    float right

  &__column-feat-2-gap
    margin-left 3.13em
    width 55em    

  &__column-box-gap 
    width 18.8em
    margin-top 7.1em