@import "../../../helpers/mixins.styl"

$bl = 'size'

.{$bl}
  display inherit
  font-size .8em
  font-family $font-din-pro   
  // IE9 Hack
  position relative
  display inline-block
  border solid black 1px
  z-index 0

  &__select
    background transparent
    width 9em
    border 1px solid #e4e4e4
    height 3.2em
    -webkit-appearance none
    -moz-appearance: none
    appearance none
    background url(../../assets/arrow.png) 84% / 10% no-repeat #fff
    font-size 1.1em
    font-family $font-din-pro-cond
    text-transform uppercase
    padding-left 1.45em
    // IE9 Hack
    z-index 1

  // IE9 Hack
  &:before
    display block
    position absolute
    content ''
    right 0
    top 0
    height 3.4em
    width 1.5em
    margin .1em
    background #fff
    z-index 5