$font-din-pro-cond = 'DIN Pro Condensed', Arial, sans-serif
$font-din-pro = 'DIN Pro', Arial, sans-serif
$font-roboto = 'Roboto', Arial, sans-serif

centerer()
  max-width: 1280px
  margin-right: auto
  margin-left: auto
