mixin ProductPromo(obj)
  if !obj
    - obj = {}
  +b.product-promo
    +e.centerer
      +e.text
        +e.title Classic cushioning. Modern comfort.
        +e.description.
          The Nike Air Max Tavas SD Men's Shoe recalls the profile of the iconic
          running original with a Max Air unit in the heel and&nbsp;multi-surface
          Waffle outsole. A lightweight upper and gradient detail offer a
          comfortable fit and dynamic look.
