$bl = light-input

.{$bl}
  border 0
  outline none
  border-bottom 1px solid #e4e4e4
  padding-bottom 10px
  font-size 14px

  &::placeholder
    color #e4e4e4
    font-family $font-roboto

  &_invalid
    border-bottom 1px solid #e43540

    &::placeholder
      color #e43540
