@import "../../../helpers/mixins.styl"

$bl = 'product-preview'

.{$bl}
  background #fff
  min-height 610px
  outline 1px dotted #0089cf
  white-space nowrap

  &__centerer
    centerer()
    padding-right 3.1em
    padding-left 3.1em

  &__column
    display inline-block
    width 67.88%

  &__wish-text-gap
    margin-top 1.4em

  &__column-phone-rotate-gap
    margin-top 10em
    padding-left 4.5em