mixin LightSelect(obj)
  if !obj
    - obj= {}
  +b.SELECT.light-select(id=obj.id || false, data-width=obj.width || '100%', data-placeholder=obj.placeholder)
    if (obj.placeholder)
      +e.OPTION
    each item in obj.options
      +e.OPTION= item