// Список зависимостей, исользуемых на странице
@import "../../assets/fonts/style.css";

@import "../../../node_modules/normalize/index.styl";
@import "../../blocks/page/page.styl";
@import "../../blocks/header/header.styl";
@import "../../blocks/product-preview/product-preview.styl";
@import "../../blocks/product-promo/product-promo.styl";
@import "../../blocks/product-story/product-story.styl";
@import "../../blocks/product-social/product-social.styl";
@import "../../blocks/phone-rotate/phone-rotate.styl";
@import "../../blocks/add-cart/add-cart.styl";
@import "../../blocks/color/color.styl";
@import "../../blocks/size/size.styl";
@import "../../blocks/text/text.styl";
@import "../../blocks/wish/wish.styl";
@import "../../blocks/footer/footer.styl";
@import "../../blocks/box/box.styl";
@import "../../blocks/feat-2/feat-2.styl";
@import "../../blocks/text-2/text-2.styl";
@import "../../blocks/benefits/benefits.styl";
@import "../../blocks/cart/cart.styl";
@import "../../blocks/form/form.styl";
@import "../../blocks/personnal-infos/personnal-infos.styl";
@import "../../blocks/country/country.styl";
@import "../../blocks/textbox/textbox.styl";
@import "../../blocks/notes/notes.styl";
@import "../../blocks/delivery-mode/delivery-mode.styl";
@import "../../blocks/your-cart-resume/your-cart-resume.styl";
@import "../../blocks/product-type/product-type.styl";
@import "../../blocks/checkbox/checkbox.styl";
@import "../../blocks/cta/cta.styl";