// Список зависимостей, исользуемых на странице
@import "../../assets/fonts/style.css";

@import "../../../node_modules/normalize/index.styl";
@import "../../blocks/page/page.styl";
@import "../../blocks/header/header.styl";
@import "../../blocks/framed-select/framed-select.styl";
@import "../../blocks/regular-button/regular-button.styl";
@import "../../blocks/product-preview/product-preview.styl";
@import "../../blocks/product-promo/product-promo.styl";
@import "../../blocks/product-story/product-story.styl";
@import "../../blocks/product-social/product-social.styl";
@import "../../blocks/footer/footer.styl";
