@import "../../../helpers/mixins.styl";

$bl = 'form'

.{$bl}

  &__form-notes-gap
    margin-top .15em

  &__form-delivery-mode-gap
    margin-top 2.3em
    position relative
    width 20em