mixin Benefits(obj)
  if !obj
  - obj = {}
  +b.benefits
    +e.title Benefits
    +e.header Layered textile/Synthetic upper
    +e.addition for lightweight durability and comfort
    +e.header Injected phylon midsole doubles
    +e.addition Outsole to reduce the overall weight of the shoe
    +e.header Max air heel unit
    +e.addition delivers maximum lightweight cushioning
    +e.header Rubber waffle outsole
    +e.addition Durable, multi-surface traction