include /blocks/light-input/light-input
include /blocks/cart-entry/cart-entry

mixin CartSidebar(obj)
  if !obj
    - obj = {}
  +b.cart-sidebar.ui.sidebar.right.inverted.vertical.menu
    +e.informations
      +e.header INFORMATIONS
      +e.title PERSONNAL INFORMATIONS
      +e.input-row
        +LightInput({ placeholder: 'Country', class: 'flex-input_half-once' })
      +e.input-row
        +LightInput({ placeholder: 'First name', class: 'flex-input' })
        +LightInput({ placeholder: 'Second name', class: 'flex-input' })
      +e.input-row
        +LightInput({ placeholder: 'Address', class: 'flex-input' })
      +e.input-row
        +LightInput({ placeholder: 'Postal code', class: 'flex-input' })
        +LightInput({ placeholder: 'City', class: 'flex-input' })
      +e.input-row
        +LightInput({ placeholder: 'Email', class: 'flex-input' })
        +LightInput({ placeholder: 'Phone', class: 'flex-input' })
      +e.title NOTES
      +e.input-row
        +LightInput({ placeholder: 'Note', class: 'flex-input' })
      +e.title DELIVERY MODE
      +e.input-row
        +LightInput({ placeholder: 'Delivery mode', class: 'flex-input_half-once' })
    +e.cart-contents
      +e.title YOUR CART
      +e.UL.items-list
        +e.LI.product-row
          +CartEntry({
            image: require('assets/nike-in-cart.png'),
            brand: 'NIKE',
            name: 'Air Max Tavas SD',
            size: '7.5',
            price: '$ 160.00'
          })
        +e.LI.product-row
          +CartEntry({
            image: require('assets/nike-in-cart.png'),
            brand: 'NIKE',
            name: 'Air Max Tavas SD',
            size: '7.5',
            price: '$ 160.00'
          })
      +e.resume
        +e.resume-row
          +e.clause SHIPPING
          +e.cost $ 20.00
        +e.resume-row
          +e.clause SUBTOTAL
          +e.cost $ 340.00
      +e.agreement
        +e.INPUT(type="checkbox")
        +e.SPAN I agree terms of use and privacy
      +e.confirmation
        +Button({ id: 'cart-confirm', text: 'Confirm'})